{% extends "main.html"%}

{% block nav %}
	{% if user != None %}

	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('create_article') }}">Create New</a></li>
	<li><a href="{{ url_for('signout') }}">Sign Out</a></li>
	<li><a href="#">About Us</a></li>

	{% else %}
	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('login') }}">Log In</a></li>
	<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
	<li><a href="#">About Us</a></li>

	{% endif %}

{% endblock %}

{% block head %}
{{ super() }}
  <style>
	#myCarousel{
		margin-top: 40px;
	}
	.carousel-inner img{
		padding-top: 12px;
		height: 440px;
		width: 560px;
	}
	.carousel-control.right {
	 background: none;

	}
	.carousel-control.left{
	 background: none;
	}
	#section-blog{
		margin-top: 50px;
		margin-bottom: 50px
	}
	#section-blog a span{
		color: #444444;
		line-height: 20px;
		margin-top: 8px;
		font-size: 18px;
		font-family: "Poppins", sans-serif;
		font-weight: 600;
	}
	#section-blog a:hover span{
		color: #00c8fa;
		line-height: 20px;
		cursor:pointer;
		text-decoration: none;
	}
	 #section-blog h3{
		 font-size: 18px;
		 font-family: "Poppins", sans-serif;
		 color: #00c8fa;
		 font-weight: 600;
	 }
	 #section-blog .article-body2 img{
		 margin-bottom: 15px;
	 }
	 #section-blog .blog_box1 img{
	 	height: 170px;
		width: 220px;
		margin: auto;
	 }
	 .single-article-left{
		width: 765px;
    height: 210px;
		margin-bottom: 3px;
	 }
	 .single-article-right{
		 height:420px;
		 width:320px;
		 margin-bottom: 3px;
	 }

	.article_head{
		border: 2px solid #f1f1f1;
	}

	.side_img_box img{
		padding-top: 10px;
		height: 217px;
		width: 300px;
	}


	</style>
{% endblock %}


{% block body %}

<!-- Start Carousel -->

<div class="carousel slide" id="myCarousel">
		<center>
			<div class="container">
			<!--Indicators -->
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3 side_img_box">
					<div class="row">
						<img src="static/images/travel-article.jpg" class="img-responsive" alt="">
					</div>
					<div class="row">
						<img src="static/images/fashion-article.jpg" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
						<li data-slide-to="1" data-target="#myCarousel"></li>
					</ol>
			<div class="carousel-inner">
				<div class="item active" id="item1">
						<img src="./static/images/carousel_image1.jpg" alt="">
					<div class="carousel-caption">
						<h4>Moto and Apptech settle patent dispute.</h4>
						<a href="#" class="btn btn-default btn-normal">continue reading</a>
							</div>		<!--Ends Carousel caption-->
				</div>
   			<div class="item" id="item2">
					<img src="./static/images/carousel-image2.jpeg" alt="">
					<div class="carousel-caption">
						<h4>There are many variations of passages of have suffered</h4>
						<a href="#" class="btn btn-default btn-normal">continue reading</a>
							</div>		<!--Ends Carousel caption-->
				</div>
				</div>
				<!-- control starts here-->
				<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
				<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
			</div>
		<div class="col-sm-3 col-md-3 col-lg-3 side_img_box">
			<div class="row">
				<img src="static/images/sports-article.jpg" class="img-responsive" alt="">
			</div>
			<div class="row">
				<img src="static/images/gadgets-article.jpeg" class="img-responsive" alt="">
			</div>
		</div>
		</div>
	</div>
	</center>
	</div>
	<!-- End Carousel -->

<!-- latest-article -->

<section id="section-blog">
	<div class="container">
      <div class="row article_head" >
				<h3>Latest Articles</h3>
					<hr>
							{% for i in range(0,topic|length,3) %}
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 articles-body">
									<div class="row single-article-left">
										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 blog_box1">
											<a href="{{url_for('blog', code=topic[i]['title'])}}"><span> {{topic[i]['title']}}</span> </a>
											<h5>The one where we retain our sanity in a stupid world</h5>
											<a href="#">author name</a>
											<p>{{topic[i]['date']}}</p>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 blog_box1">
											<img src="{{url_for('static', filename='images/'+topic[i]['article_img'])}}" class="img-responsive" alt="">
										</div>
									</div>
										{% set i = i+1 %}
										{% if i <topic|length %}
										<div class="row single-article-left">
											<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 blog_box1">
										<a href="{{url_for('blog', code=topic[i]['title'])}}"><span> {{topic[i]['title']}} </span></a>
										<h5>The one where we retain our sanity in a stupid world</h5>
										<a href="#">author name</a>
										<p>{{topic[i]['date']}}</p>
									</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 blog_box1">
											<img src="{{url_for('static', filename='images/'+topic[i]['article_img'])}}" class="img-responsive" alt="">
										</div>
									</div>
									{% endif %}
							</div>
									{% set i = i+1 %}
									{% if i<topic|length %}

								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 article-body2">
									<div class="row single-article-right">
									<img src="{{url_for('static', filename='images/'+topic[i]['article_img'])}}" class="img-responsive" alt="">
									<a href="{{url_for('blog', code=topic[i]['title'])}}"><span> {{topic[i]['title']}}</span> </a>
									<h5>The one where we retain our sanity in a stupid world</h5>
									<a href="#">author name</a>
									<p>{{topic[i]['date']}}</p>
								</div>
								</div>
								{% set i = i+1 %}
								{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>


{%endblock%}
